ngu_sediment/*
mdir/*
*.gpkg
*.geojson
*.tif
*.tiff
*.parquet
.Rproj.user
.Rhistory
.RData
.Ruserdata
**/__pycache__/**
.env
**egg-info/**
**/*.joblib
geonorge/*
notebooks/data/*
notebooks/*.aux.xml
notebooks/Stasjonsdata_blotbunnsbasen_points.csv
notebooks/Stasjonsdata_bløtbunnsbasen 19.12.2025.csv
